replicaCount: 1

image:
  repository: elasticsearch
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "8.11.0"

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 9200

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 1000m
    memory: 1Gi

env:
  - name: discovery.type
    value: single-node
  - name: xpack.security.enabled
    value: "false"

nodeSelector: {}

tolerations: []

affinity: {}
